body {
    font-family: Arial, sans-serif;
}
caption{
    text-decoration: double;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    align-content: center;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #f6eaea;
}

th {
    background-color: #e1dcdc;
}
#yash{
    margin-left: 35%;
    height: 50px;
}


